@font-face { font-family: RocaOneRg; src: url('RocaOne-Rg.ttf'); } 
@font-face { font-family: RocaOneLt; src: url('RocaOne-Lt.ttf'); } 

body {
    width: 100vh;
    height: 100vw;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: RocaOneRg;
    color: #43291F;
}

#icons-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 40px 0;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.164);
}

#prev, #next {
    padding: 20px;
}

.studio, .calendar {
    border: 1px solid rgb(204, 204, 204);
    backdrop-filter: blur(120px);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.15);
}

.studio:nth-child(3n) {
    background-color: hwb(42 40% 0% / 0.801);
    backdrop-filter: blur(120px);
    color: #855e24;
    border: 1px solid #855e24;
}

.studio:nth-child(2n) {
    background-color: hwb(117 56% 28% / 0.801);
    backdrop-filter: blur(120px);
    color: #3a5c3e;
    border: 1px solid #3a5c3e;
}

.studio:last-child {
    background-color: rgba(211, 136, 173, 0.801);
    backdrop-filter: blur(120px);
    color: #663540;
    border: 1px solid #663540;
}

#wrap {
    width: 100%;
    height: 100%;
    max-width: 1080px;
    max-height: 1920px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    background-image: url(bg.png);
}

.weeks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    color: #43291F;
    font-size: 36px;
    font-family: RocaOneLt;
}

.week-day:nth-last-child(-n+2) {
    color: #BA3B41;
}

.week-day {
    width: 125px;
    height: 125px;
    text-align: center;
    line-height: 125px;
}

#month {
    text-align: center;
    width: 972px;
    font-size: 80px;
}

#month-pl {
    all: unset;
}

#month-pl {
    text-align: center;
    width: 972px;
    font-size: 36px;
    color: #704533;
    line-height: 80%;
    margin-top: -12px;
    padding-bottom: 25px;
}

.calendar {
    width: 972px;
    border-radius: 50px;
    padding: 40px 0;
    overflow: hidden;
}

.auto {
    height: auto;
}

.five-lines {
    height: 930px;
}

.four-lines {
    height: 800px;
}

.six-lines {
    height: 1060px;
}

.studio {
    width: 740px;
    height: 100px;
    border-radius: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 42px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.calendar li {
    width: 125px;
    height: 125px;
    padding: 0;
    margin: 0;
}

.days-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 875px;
    text-align: center;
    line-height: 125px;
    font-size: 36px;
    font-family: RocaOneLt;
}

.days li:nth-child(n+6):nth-child(-n+7) {
    color: #BA3B41;
}

.days li:nth-child(n+13):nth-child(-n+14) {
    color: #BA3B41;
}
.days li:nth-child(n+20):nth-child(-n+21) {
    color: #BA3B41;
}
.days li:nth-child(n+27):nth-child(-n+28) {
    color: #BA3B41;
}
.days li:nth-child(n+34):nth-child(-n+35) {
    color: #BA3B41;
}

.days li.inactive{
    color: #886a5d !important;
}
.weekend {
    color: #BA3B41;
}
